extends web_tpl

block text
  p 
    | is a small functional language. It is a Scheme 
    | derivative and compliant to most of R
    sup 5
    | RS. It is relaxed in those terms, though.
  .spacing
  p
    | How zepto looks? I am glad you ask.
    pre: code(class='language-scheme')[(display x) | x <- [:h :e :y ", there!\n"]]
    | This is a 
    a(href='/wiki/Quickstart#listcomp') List Comprehension
    | . If you are coming
    | from Python, Haskell or Erlang, it should look
    | somewhat familiar to you.
    sup 1
    |  It uses another construct that is not present in R
    sup 5
    | RS, namely 
    a(href='/wiki/Quickstart#atoms') Atoms
    | . This in turn could be familiar to you if you come from Lisp 
    | or Clojure, although they are called Keywords in those 
    | languages.
  small 
    | 1: For those of you who do not know what this does, 
    | it will print 
    span: code :h:e:y, there!
    |  to the standard output.
  p This website is currently a work in progress.
  p
    | I suggest you check out the 
    a(href='https://github.com/zepto-lang/') github repositories 
    | while you wait. It gets updated frequently and new code is added
    | almost on a daily basis. 
  p
    | There is also a little 
    a(href='/wiki') wiki 
    | that aims at being a comprehensive walkthrough and reference. 
    | Finally, 
    a(href='/install') installation instructions are located here
    |, if you would like to tinker a bit.
  link(rel='stylesheet', href='/stylesheets/prism.css')
  script(src='/javascript/prism.js')
