extends layout

block content
  h1= title + '  (n)'
  p Welcome to zeptos website. It is not anything yet, but it will hopefully be.
  p In the meantime, how about checking out the 
    a(href='https://github.com/zepto-lang//') github repositories?
  p(class='spaced small middle') Zepto (c) 2015 Veit Heller
