extends web_tpl

block text
  script
    | function stdlib() {
    |   var htmlDecode = function(input){
    |     var e = document.createElement('div');
    |     e.innerHTML = input;
    |     return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    |   }
    |   var f = document.getElementById("stdlib-xt");
    |   document.getElementById('stdlib').stdlibData = htmlDecode(f.contentWindow.document.body.childNodes[0].innerHTML);
    | }
  h1 Try Zepto!
  p 
    | This is a sandbox for programming in zepto in the browser.
    | Try typing zepto code below. It should update in real time.
  h2 zepto Sandbox
  #editor
    | (begin
    |   (define (main) "the main fun"
    |     ; do not fret, this is just a list comprehension. Look them up in the wiki
    |     ; or just note that their syntax is [{action} | {element} <- {list} , {optional-filter}]
    |     (list->string 
    |       [x | x <- [#\h #\e #\y #\, #\space #\g #\u #\y #\s #\! #\2], (not (char=? x #\2))]))
    |  
    |   (main))
  .wrap
    label(for="result") Program Output
    textarea(id='result' rows="10" cols="50" readonly)
  .wrap
    label(for="dbg") Debug Output
    textarea(id='dbg' rows="10" cols="50" readonly)
  
  iframe(id="stdlib-xt" src="/javascript/zepto-dist/stdlib.txt" onload="stdlib();" hidden)
  div(id="stdlib" hidden)

  link(rel='stylesheet', href='/stylesheets/try.css')
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js" charset="utf-8")
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-scheme.js")
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/theme-dawn.js")
  script
    | var editor = ace.edit('editor');
    | editor.setTheme('ace/theme/dawn');
    | editor.getSession().setMode('ace/mode/scheme');
    | editor.getSession().setTabSize(2);
    | editor.renderer.setShowGutter(false);
    | 
    | if(typeof Zepto === 'object' && typeof Zepto.Main === 'object' && typeof Zepto.Main.main === 'function') Zepto.Main.main();      
  script(language="javascript" src="/javascript/zepto-dist/rts.js")
  script(language="javascript" src="/javascript/zepto-dist/lib.js")
  script(language="javascript" src="/javascript/zepto-dist/out.js")
  script(language="javascript" src="/javascript/zepto-dist/runmain.js" defer)
