extends web_tpl

block text
  h1 Try Zepto!
  p 
    | This is a sandbox for programming in zepto in the browser.
    | Try typing zepto code below. It should update in real time.
  h2 zepto Sandbox
  #editor
    | (begin
    |   (define (main)
    |     (pow 32 64))
    | 
    |   (main))
  .wrap
    label(for="result") Program Output
    textarea(id='result' rows="10" cols="50" readonly)
  .wrap
    label(for="dbg") Debug Output
    textarea(id='dbg' rows="10" cols="50" readonly)

  link(rel='stylesheet', href='/stylesheets/try.css')
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js" charset="utf-8")
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-scheme.js")
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/theme-dawn.js")
  script
    | var editor = ace.edit('editor');
    | editor.setTheme('ace/theme/dawn');
    | editor.getSession().setMode('ace/mode/scheme');
    | editor.getSession().setTabSize(2);
    | editor.renderer.setShowGutter(false);
    | if(typeof Zepto === 'object' && typeof Zepto.Main === 'object' && typeof Zepto.Main.main === 'function') Zepto.Main.main();      
  script(language="javascript" src="/javascript/zepto-dist/rts.js")
  script(language="javascript" src="/javascript/zepto-dist/lib.js")
  script(language="javascript" src="/javascript/zepto-dist/out.js")
  script(language="javascript" src="/javascript/zepto-dist/runmain.js" defer)
