extends layout

block content
  img(class='banner', src='/images/zepto_logo.png')
  
  .top#links
      a(href='/')
        span(id='logo') &zeta;
        span(id='name') zepto
      #links-right
        a(id="home-link" href='/') Home
        a(href='/Try') Try
        a(href='/install') Installation
        a(href='/wiki') Wiki

  .wiki
    block text
  
  p(class='spaced small middle') 
    | Zepto (c) 2015 
    a(href='https://github.com/hellerve') Veit Heller


