extends wiki_tpl

block wiki
  h1 Contributing

  p
    | I am terribly sorry, but this page does not exists just yet.
    | This wiki is currently under heavy construction. If you would
    | like to write one yourself, head to the 
    a(href='https://github.com/zepto-lang/zepto-wiki') wiki repository
    |. I am thankful about every contribution.
