extends wiki_tpl

block wiki
  h1 Welcome to the zepto wiki!

  p
    | I'm delighted to see you! Please feel free to look around. 
    | There is section called 
    a(href='./Quickstart') Getting Started 
    | which might be most 
    | relevant if you are not experienced with any Lisp-derivative.
    | If you are, I would advise you to have a look at the more "advanced"
    | topics, such as 
    a(href='./IO') IO
    |, 
    a(href='./Math') Math 
    | or the 
    a(href='./Advanced') Advanced Features 
    | page.
  p
    | If you want to contribute, please look at the 
    a(href='./Contributing') Contributing 
    | page or the Advanced Features page that I already mentioned. 
    i Have fun!
  p
    | If you run into trouble at any time, feel free to contact me 
    | by any means necessary that do not involve breaking my door.


