extends layout

block content
  img(class='banner', src='/images/zepto_logo.png')
  
  .top-right#responsive-nav(onclick="displayNav()")
    p
  .top-right#nav
    h2 Navigation
    a(href='/') Home 
    &lambda;
    a(href='mailto:zepto@veitheller.de') Contact
    ul(id='nav-list')
      li Pages
      li: a(href='./Index') Index
      li: a(href='./Quickstart') Getting Started
      li: a(href='./IO') IO
      li: a(href='./Math') Math
      li: a(href='./Contributing') Contributing
      li: a(href='./TODO') TODO
      li: a(href='./Advanced') Advanced Features
      li
      li
      li External resources
      li: a(href="https://github.com/zepto-lang") Zepto On Github
      li: a(href="http://www.gnu.org/software/mit-scheme/documentation/mit-scheme-ref/") MIT/GNU Scheme Docs
      li: a(href="https://github.com/zepto-lang/zepto-wiki/issues") Report an Issue

  .wiki
    block text
  
  p(class='spaced small middle') 
    | Zepto (c) 2015 
    a(href='https://github.com/hellerve') Veit Heller
  link(rel='stylesheet', href='/stylesheets/prism.css')
  script(src='/javascript/prism.js')
  script(src='/javascript/wiki.js')


