extends web_tpl

block text
  .top-right#responsive-nav(onclick="displayNav()")
    i(class="fa fa-bars")
  .top-right.back-fix
  .top-right#nav
    h2 Navigation
    a(href='/') Home 
    &lambda;
    a(href='mailto:zepto@veitheller.de') Contact
    ul(id='nav-list')
      li Pages
      li: a(href='./Index') Index
      li: a(href='./Quickstart') Getting Started
      li: a(href='./IO') IO
      li: a(href='./Math') Math
      li: a(href='./Contributing') Contributing
      li: a(href='./TODO') TODO
      li: a(href='./Advanced') Advanced Features
      li
      li
      li External resources
      li: a(href="https://github.com/zepto-lang") Zepto On Github
      li: a(href="http://www.gnu.org/software/mit-scheme/documentation/mit-scheme-ref/") MIT/GNU Scheme Docs
      li: a(href="https://github.com/zepto-lang/zepto-wiki/issues") Report an Issue

  .wiki
    block wiki
  
  link(rel='stylesheet', href='/stylesheets/prism.css')
  link(rel='stylesheet', href='/stylesheets/wiki.css')
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  script(src='/javascript/prism.js')
  script(src='/javascript/wiki.js')


