body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9efef;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

.banner {
  width: 300px;
}

.text {
  width: 45%;
}

.spaced {
  margin-top: 5%;
}

.small {
  font-size: 12px;
}

.small.middle {
  margin-left: 40%;
  width: 20%;
  text-align: center;
}
