#editor {
  width: 60em;
  height: 20em;
  margin: 1em;
}

#exec {
  background: #707070;
  font-size: 15px;
  font-family: Helvetica;
  font-weight: 100;
  border: none;
  padding: 0.4em;
  color: white;
  margin-left: 44em;
  display: block;
  margin-bottom: 2em;
}

.wrap {
  display: inline-block
}

label {
  display: block;
  margin-left: 1em;
  font-family: Helvetica;
  font-weight: 100;
}

textarea {
  width: 30em;
  margin: 1em;
  height: 10em;
  font-size: 12px;
  background: #fafafa;
  border: 1px solid lightgrey;
  resize: none;
}
